
<!DOCTYPE html>
<html>

<body>

<%= render 'layouts/menuAlumno'  %>
<div class= "contrainer" style = "margin-left:380px; margin-top:50px;"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Módulo Administrador</title>
        <%= stylesheet_link_tag "mystyle", media: "all", "data-turbolinks-track" => true %>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body> 
        <nav class="navbar navbar-dark navbar-custom fixed-top ">
        <div class="container" >
            <a class="navbar-brand" href="/portada/index" ><h4>Bienvenido a tu perfil Alumno</h4></a>            
        </div>
        
      </nav><br><br>

        <div class="body_saldos_movimientos">  
            <div class="row">
                <div class="col-md-6 col-sm-6">


                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="checkout-subtitle">RECARGAR MONEDERO</h4>
                      </div>
                      <div class="panel-body">
                        <div>
                        <br>
                        <div>
                            <div class="form-group col-sm-12 alert alert-warning">
                                <strong><span id="spn_alert_monto_recarga"></span></strong>
                            </div>
                            <div class="row form-group col-md-6 col-sm-6">
                                <label for="inputMonto">Monto S/ :<span></span></label>
                                <input type="number" class="form-control" id="inputMonto" name="inputMonto" placeholder="">
                            </div>
                        </div>                        
                        <div>
                            <div class="row form-group col-md-6 col-sm-6" >
                                <center><button onclick="CheckoutJS.realizarPago(event)" id="btn_pagar" type="submit" class="btn btn-success" >Recargar</button></center>
                            </div>                        
                        </div>                        
                    </div>
                      </div>
                    </div>



                    
                </div>


                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="checkout-subtitle">LISTADO DE MOVIMIENTOS</h4> 
                      </div>
                      <div class="panel-body"><div>   
                        <br>                                
                            <table id="tableMovimientos" class="table table-hover table-condensed table-striped table-bordered" 
                                    style="size: 10px; text-align: center !important;">
                                <thead>
                                    <tr>
                                        <th class="">Fecha Operación</th>
                                        <th class="">Forma Pago</th>
                                        <th class="">Concepto </th>
                                        <th class="">Monto Operación</th>

                                    </tr>
                                </thead><!-- /thead -->
                                
                                <tbody id="table_content">
                                </tbody>
                            </table>
                    </div>
                      </div>
                    </div>

                    
                </div>
                <div class="row ">
                    <div class="shopping-cart">
                        <div class="shopping-cart-table ">
                        </div>
                    </div> 
                </div>   
            </div>  
        </div>

        <%= javascript_include_tag "jquery-1.11.1.min", "data-turbolinks-track" => true %>
        <script src="https://checkout.culqi.com/js/v3"></script>
        <%= javascript_include_tag "checkout", "data-turbolinks-track" => true %>

        <script type="text/javascript">      


            var saldoActual  = 0;  
            saldoActual = parseFloat(saldoActual);


            function culqi() {
                checkoutJS.ocultarMensaje();

                if (Culqi.token) { // ¡Objeto Token creado exitosamente!
                    var montoRecarga = parseFloat($("#inputMonto").val());
                    var idUsuario = $("#idUsuario").val(); 
                    var token = Culqi.token.id;
                    var email = Culqi.token.email;
                    var descripcion = 'Recarga de monedero';
                    $("#table_content").append("<tr>");
                    $("#table_content").append("<td><span>12/04/2020</span></td>");
                    $("#table_content").append("<td><span>Tarjeta</span></td>");
                    $("#table_content").append("<td><span>Recarga Virtual</span></td>");
                    $("#table_content").append("<td><span style=\"color:green !important; font-size:1.2em;\">S/ "+parseFloat(montoRecarga).toFixed(2)+"</span></td>");
                    $("#table_content").append("</tr>");

                    checkoutJS.mostrarMensaje("Su recarga ha sido exitosa.");

                } else { 
                    console.log(Culqi.error);
                    alert(Culqi.error.user_message);
                }
            };

        </script>
    </body>
</div>
    </body>
</html>
