
<div class="d-flex justify-content-center shadow-lg p-3 mb-5 bg-white rounded">


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <br>
      <div class="field">
        <%= f.label :Correo %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :Contraseña %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :Confirmar_contraseña %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :Contraseña_nueva %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="field">
      <%= f.label :Nombre %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name"%></div>

      <div class="field">
      <%= f.label :Apellidos %><br />
      <%= f.text_field :apellido, autofocus: true %> 
    </div>

    <div class="field">
      <%= f.label :"Fecha de nacimiento" %><br />
      <%= f.text_field :born_on, autofocus: true %> 
    </div>
    <div class="field">
      <%= f.label :Celular %><br />
      <%= f.text_field :phone, autofocus: true %> 
    </div>
   
    <br>

    
    <div class="field">
      <%= f.label :Rol %><br />
      <%= f.select :tipo, [ "Profesor", "Alumno", "Administrador"]%>
    </div>
    <br>


      <div class="actions">
        <%= f.submit "Update" %>
      </div>

      <%= link_to "Atras", :back %>
    <% end %>

    
  </div>

