<div class="d-flex justify-content-center shadow-lg p-3 mb-5 bg-white rounded">


<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h2>Registrarse</h2>
  <br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="field">
  <%= f.label :Nombre %><br />
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :Apellidos %><br />
  <%= f.text_field :apellido, autofocus: true %> 
</div>

<div class="field">
<%= f.label :"Fecha de nacimiento" %><br />
  <%= date_field(:user, :born_on)  %>
  
</div>
<div class="field">
  <%= f.label :Telefono %><br />
  <%= telephone_field(:user, :phone)  %>
 
</div>
<div class="field">
  <%= f.label :DNI %><br />
  <%= f.text_field :dni, autofocus: true %> 
</div>

<div class="field">
<%= f.hidden_field :tipo, :value => "Alumno" %>
</div>
  <div class="actions">
    <%= f.submit "Registrate", :class => "btn btn-primary" %>
  </div>
  <%= render "devise/shared/links" %>
  <%= link_to "Atras", :back %>
<% end %>

</div>
