<p id="notice"><%= notice %></p>

<h1>Parametros</h1>

<table>
  <thead>
    <tr>
      <th>Grupo</th>
      <th>Codigo</th>
      <th>Description</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parametros.each do |parametro| %>
      <tr>
        <td><%= parametro.grupo %></td>
        <td><%= parametro.codigo %></td>
        <td><%= parametro.description %></td>
        <td><%= parametro.estado %></td>
        <td><%= link_to 'Show', parametro %></td>
        <td><%= link_to 'Edit', edit_parametro_path(parametro) %></td>
        <td><%= link_to 'Destroy', parametro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parametro', new_parametro_path %>
