<p id="notice"><%= notice %></p>

<p>
  <strong>Grupo:</strong>
  <%= @parametro.grupo %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @parametro.codigo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @parametro.description %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @parametro.estado %>
</p>

<%= link_to 'Edit', edit_parametro_path(@parametro) %> |
<%= link_to 'Back', parametros_path %>
