<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<%= render 'layouts/menu'  %>
<div class= "contrainer" style = "margin-left:380px; margin-top:50px;"> 
<p id="notice"><%= notice %></p>

<h1>Priorities</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Costo</th>
      <th>Descosto</th>
      <th>Idestado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @priorities.each do |priority| %>
      <tr>
        <td><%= priority.description %></td>
        <td><%= priority.costo %></td>
        <td><%= priority.descosto %></td>
        <td><%= priority.idestado %></td>
        <td><%= link_to 'Show', priority %></td>
        <td><%= link_to 'Edit', edit_priority_path(priority) %></td>
        <td><%= link_to 'Destroy', priority, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Priority', new_priority_path %>
</div>
    </body>
</html>