<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @priority.description %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @priority.costo %>
</p>

<p>
  <strong>Descosto:</strong>
  <%= @priority.descosto %>
</p>

<p>
  <strong>Idestado:</strong>
  <%= @priority.idestado %>
</p>

<%= link_to 'Edit', edit_priority_path(@priority) %> |
<%= link_to 'Back', priorities_path %>
