<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KongLab</title>

  <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top text-right">
    <div class="container">
      <a class="navbar-brand " href="#">KongLab</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <ul class="navbar-nav ml-auto">
      <% if  current_user %>
        <% if  current_user.tipo == "Alumno"  %>
      <li class="nav-item">
        <p class="nav-link " ><%= link_to "Mi perfil", profile_student_path, :class => "font-weight-bold  text-white text-right" %></p>
      </li>
      <% elsif current_user.tipo == "Profesor" %>
      <li class="nav-item">
        <p class="nav-link" >  <%= link_to "Mi perfil", profile_teacher_path, :class => "font-weight-bold  text-white text-right"%></p>
      </li>
      <% else %>    
      <li class="nav-item">   <p class="nav-link" >      
      <%= link_to "Mi perfil", profile_administrator_path, :class => "font-weight-bold  text-white text-right" %>
     <% end %></p>
     </li>
     <li class="nav-item">  
      <p class="nav-link" > <%= link_to "Salir sesion", destroy_user_session_path, method: :delete, :class => "font-weight-bold  text-white" %>
      </p>
     </li>

    </ul>
        <% else %>
     <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <p class="nav-link " ><%= link_to 'Registrarse' , new_user_registration_path,  :class => "font-weight-bold  text-white" %></p>
          </li>
          <li class="nav-item">

            <p class="nav-link" > <%= link_to 'Iniciar Sesion', new_user_session_path , :class => "font-weight-bold  text-white" %></p>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Conocimiento para todos </h1>
        <h2 class="masthead-subheading mb-0">al alcance de un click</h2>
        <a href="#" class="">
          <% if current_user %>     
        <%= link_to "Publicar consulta", new_enunciado_path, :class => "btn btn-primary btn-xl rounded-pill mt-5 font-weight-bold lead text-white"  %></a>
            <% else %>
            <%= link_to "Publicar consulta", new_user_session_path, :class => "btn btn-primary btn-xl rounded-pill mt-5 font-weight-bold lead text-white"  %></a>
        <% end %>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Derechos reservados  2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  

</body>

