<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>



	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
</head>
<body>
	<nav class="navbar navbar-dark navbar-custom fixed-top " style=" margin-left: 349px;">
    <div class="container" >
    

      <a class="navbar-brand" href="" >Bienvenido a tu perfil Alumno</a>


	<section class="lateral shadow-lg bg-dark">
		
		<div class="row justify-content-center pt-4">
			<img src="#" alt="" class="rounded-pill perfil_circulo">
		</div >
		<div class="row justify-content-center pt-4">
			<h1 class="perfil_nombres"><%= current_user.name  %> <%= current_user.apellido%></h1>
		</div>
	<nav>
	<div class="menulist">
			<ul class="list-group ">
            <li class="list-group-item"><a href=""><%= link_to "Solicitar Resolucion de ejercicio", new_enunciado_path  %></a></li>
			<li class="list-group-item"> <a href="/enunciados">Historial de solicitudes</a></li>
      		<li class="list-group-item"> <a href="/ListaReso">Ejercicios Resueltos</a></li>
					  
			<a class="list-group-item" href="/movimiento_saldo">Saldos y movimientos</a>  
			<li class="list-group-item"><a href="/profile_student">menu principal</a></li>		
			<li class="list-group-item"><a href=""><%= link_to "Salir sesion", destroy_user_session_path, method: :delete %></a></li>
			</ul>
		</div>
</section>
		
	</section>

	<section class="proyectos">
		
	</section>
Z

	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
</body>
</html>





