<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<%= form_for([@enunciado , @enunciado.resolutions.build]) do |form| %>

   <div class ="row">
        <div class ="col-8">

      <div class="container">

        <div class="form-group ">
          <%= form.label :Estado %>
        <%= form.select :parametro_id, options_for_select( Parametro.order(:description).all.map{|e|[e.description, e.id]}),
              {:prompt => 'Seleccione'}, {class:"form-control"}%>
        </div>

   <div class="form-group ">
          <%= form.label :Archivo %> 
          <%= form.file_field :avatar  %> 
          </div>


  <div class="form-group">
    <%= form.label :comentario  %>
    <%= form.text_area :comentario,class: 'form-control' %> 
  
 </div>
 

 


</div>
          </div>
        </div>
<div class="actions">
        <%= form.submit :Enviar , class: 'btn btn-primary btn-lg'%>
        </div>


      
<% end %>

  
    </body>
</html>

