<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<%= render 'layouts/menuprofesor'  %>
<div class= "contrainer" style = "margin-left:380px; margin-top:50px;"> 
<p id="notice"><%= notice %></p>
<div>
<h1 class="col-md-12 text-center">Lista de Solicitud de Ejercicios Pendientes de Resolver</h1>
</div>
<div class="col-md-12 text-right">

</div>

<table class="table table-bordered" >
  <thead class="bg-info">
    <tr>
      <th>Fecha</th>
      <th>Curso</th>
      <th>Prioridad</th>
      <th>Usuario</th>
      <th>Tema</th>
      <th>Descripción</th>
   
      <th>Archivo</th>
      <th>Costo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enunciados.each do |enunciado| %>
      <tr>
      <td><%= enunciado.created_at.strftime("%d-%m-%Y") %></td>
     <td><%= enunciado.course.description%></td>
     <td><%= enunciado.priority.description %></td>
     <td><%= enunciado.user.name%></td>
     <td><%= enunciado.tema %></td>
     <td><%= enunciado.description %></td>


<td>
<%= link_to   rails_blob_url(enunciado.avatar, disposition: 'preview') do %> 
<%= content_tag :span, "clic", :class => "btn btn-link" %>
<% end %>
</td>

        <td><%= enunciado.priority.costo %></td>


       
  <td><%= link_to 'Resolver', :action => :showReso2, :id =>enunciado.id %></td>

      </tr>
    <% end %>
  </tbody>



</table>

</div>
    </body>
</html>
