<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<%= render 'layouts/menuprofesor'  %>
<div class= "contrainer" style = "margin-left:380px; margin-top:50px;"> 
<p id="notice"><%= notice %></p>
<div>
<h1 class="col-md-12 text-center">Lista  de Solicitudes Resueltos</h1>
</div>
<div class="col-md-12 text-right">

</div>

<table class="table table-bordered" >
  <thead class="bg-info">
    <tr>
      <th>Fecha</th>
      <th>Curso</th>
      <th>Prioridad</th>
      <th>Usuario</th>
      <th>Tema</th>
      <th>Descripción</th>
   
      <th>Archivo</th>
      <th>Costo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resolutions.each do |resolut| %>
      <tr>
      <td><%= resolut.created_at.strftime("%d-%m-%Y") %></td>
     <td><%= resolut.parametro.description%></td>
     <td><%= resolut.enunciado.description %></td>
     <td><%= resolut.user.name%></td>
     <td><%= resolut.comentario %></td>
     <td><%= resolut.comentario %></td>


<td>
<%= link_to   rails_blob_url(resolut.avatar, disposition: 'preview') do %> 
<%= content_tag :span, "clic", :class => "btn btn-link" %>
<% end %>
</td>

        <td><%= resolut.comentario %></td>
      
        <td><%= link_to 'editar', resolut %></td>
       
       
      </tr>
    <% end %>
  </tbody>



</table>

</div>
    </body>
</html>
