
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<%= render 'layouts/menuprofesor'  %>
<div class= "contrainer" style = "margin-left:380px; margin-top:50px;"> 

<p id="notice"><%= notice %></p>

<h1 class="col-md-12 text-center" >Detalle de Resolucion de Ejercicio</h1>


<div >

<table   class="table table-bordered" >
  <thead class="bg-info">
    <tr >

      <th>Fecha </th>
      <th>Usuario</th>
      <th>Comentario</th>
      <th>Estado</th>
      <th>Enunciado</th>
      <th>Archivo</th>
    </tr>
  </thead>
 <tbody>
 <tr>

  
 <td><%=  @resolution.created_at.strftime("%d-%m-%Y") %></td>
     
     <td><%= @resolution.user.name%></td>
     <td><%= @resolution.comentario %></td>
    <td><%= @resolution.parametro.description %></td>
    <td><%= @resolution.enunciado_id %></td>
 

<td>
<%= link_to   rails_blob_url(@resolution.avatar, disposition: 'preview') do %> 
<%= content_tag :span, "clic-ver", :class => "btn btn-link" %>
<% end %>
</td>

      

 </tr>
</tbody>
  </table>

</div>



<%= link_to 'Editar', edit_resolution_path(@resolution) %> 



         
</div>
    </body>
</html>