<p id="notice"><%= notice %></p>

<h1 class="col-md-12 text-center" >Detalle  de Solicitudes</h1>


<div >

<table   class="table table-bordered" >
  <thead class="bg-warning">
    <tr >
2
  <<th>Fecha</th>
      <th>Curso</th>
      <th>Prioridad</th>
      <th>Usuario</th>
      <th>Tema</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Archivo</th>
      <th>Costo</th>
    </tr>
  </thead>
 <tbody>
 <tr>

  
 <td><%=  @enunciado.created_at.strftime("%d-%m-%Y %H:%M") %></td>
     <td><%= @enunciado.course.description%></td>
     <td><%= @enunciado.priority.description %></td>
     <td><%= @enunciado.user.name%></td>
     <td><%= @enunciado.tema %></td>
        <td><%= @enunciado.description %></td>
  <td><%= @enunciado.estado %></td>

<td>
<%= link_to   rails_blob_url(@enunciado.avatar, disposition: 'preview') do %> 
<%= content_tag :span, "Visualizar/Descargar", :class => "btn btn-link" %>
<% end %>
</td>

        <td><%= @enunciado.priority.costo %></td>


 </tr>
</tbody>
  </table>
 

<h2>Agregaddr comentarios:</h2>
  <%=render @enunciado.resolutions%>


<h2>Agregar comentarios:</h2>
  <%=render "resolutions/form%>
