

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <h2>Inicio sesion</h2>
  <br>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  
 
 <div class="actions">
    <%= f.submit "Iniciar sesion" %>
    
</div>
<%= render "devise/shared/links" %>
  <% end %>