<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<nav class="navbar navbar-light ">
  <a class="navbar-brand " href="#">KongLab</a>
</nav>
<div class="d-flex justify-content-center shadow-lg p-5 mb-5 bg-white rounded">

<%= render 'form' %>



</div>
</body>
</html>