
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<%= render 'layouts/menu'  %>
<div class= "contrainer" style = "margin-left:380px; margin-top:50px;"> 
<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.description %></td>
        <td><%= course.estado %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
</table>

</div>
    </body>
</html>