.body_saldos_movimientos
{
	width: 80%;
	margin: 3em auto;
}

#inputMonto {
	width: 120px;
	margin-left: 0.5em;
}

.alert {
	display: none;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 5px;
}