<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<%= render 'layouts/menuAlumno'  %>
<div class= "contrainer" style = "margin-left:380px; margin-top:30px;"> 

      <%= form_with(model: enunciado, local: true) do |form| %>
        <% if enunciado.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(enunciado.errors.count, "error") %> prohibited this enunciado from being saved:</h2>

            <ul>
              <% enunciado.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
          
      <div class ="row">
        <div class ="col-6">

      <div class="container">

          <div class="form-group ">
          <%= form.label :Cursos %>
          <!--<%= form.text_field :courses_id %>-->
          <%= form.select :course_id, options_for_select(Course.all.map{|e|[e.description, e.id]}),
              {:prompt => 'Seleccione'}, {class:"form-control"}%> 
        </div>


   <div class="form-group">
    <%= form.label :Tema %>
    <%= form.text_field :tema ,class: 'form-control' %> 
  </div>
    <!--<div class="form-group ">
    <%= form.label :Prioridad %> 
    <%= form.collection_select :idprioridad, Priority.order(:description), :id, 
                                     "descosto", 
                 {:prompt => 'Seleccione' }%>

          </div>
          -->
        
      <div class="form-group ">
          <%= form.label :Prioridad %>
        <%= form.select :priority_id, options_for_select(Priority.order(:description).all.map{|e|[e.descosto, e.id]}),
              {:prompt => 'Seleccione'}, {class:"form-control"}%>
        </div>
        

  <div class="field">
<%= form.hidden_field :parametro_id, :value => "4" %>
</div>
  

  <!--<div class="form-group">
    <%= form.label :Usuario %>
    <%= form.number_field :idusuario ,class: 'form-control' %> 
  </div>-->


        <div class="form-group">
          <%= form.label :Descripción %>
          <%= form.text_area :description ,class: 'form-control' %> 
        </div>

        <div class="form-group ">
          <%= form.label :Archivo %> 
          <%= form.file_field :avatar  %> 
          </div>

      <div class="actions">
        <%= form.submit :Guardar , class: 'btn btn-primary btn-lg'%>
        </div>

        </div>
          </div>
        </div>
         <% end %>
      </div>
    </body>
</html>

