<h1  class="col-md-12 text-center">Editando Enunciado</h1>

<%= render 'form', enunciado: @enunciado %>

<%= link_to  @enunciado do  %> 
<%= content_tag :span, 'Mostrar', :type=>"button", :class => "btn btn-link" %>
<% end %>
|


<%= link_to enunciados_path do  %>
<%= content_tag :span, "Regresar", :type=>"button", :class => "btn btn-link" %>
<% end %>
