
<h1  class="col-md-12 text-center pt-5">Nueva Solicitud de Ejercicios</h1>

<%= render 'form', enunciado: @enunciado %>


<%= link_to enunciados_path do %>
<%= content_tag :span, "Regresar", :type=>"button", :class => "btn btn-link" %>
<% end %>

