
<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  </head>


  <body >
  <nav class="navbar navbar-dark navbar-custom fixed-top "  style=" margin-left: 349px;" >
  <div class="container" >
  <a class="navbar-brand" href="" ><%= link_to "KongLab", root_path, :class => "font-weight-bold lead text-white" %></a>
	</div>  
</nav>



<section class="lateral shadow-lg bg-dark" >
		
<div class="row justify-content-center pt-4">
  <img src="#" alt="" class="rounded-pill perfil_circulo">
</div >
<div class="row justify-content-center pt-4">
  <h1 class="perfil_nombres"> <%= current_user.name  %> <%= current_user.apellido%> </h1>
</div>

<div class="menulist">
			<ul class="list-group ">
			  <li class="list-group-item"> <a href="/resolutions">Lista de solicitudes Pendientes</a></li>
			  <li class="list-group-item"> <a href="/listar">Historial de solicitudes resueltos</a></li>
        <li class="list-group-item"><a href=""><%= link_to "Solicitar cambio de perfil", edit_user_registration_path  %></a></a></li>
        <li class="list-group-item"><a href=""><%= link_to "Editar Datos", edit_profile_path  %></a></li>
			  <li class="list-group-item"><a href="/movimiento_saldo">Saldos y movimientos</a></li>  
        <li class="list-group-item"> <a href="/profile_teacher/">Menu principal</a></li>
			  <li class="list-group-item"><a href=""><%= link_to "Salir sesion", destroy_user_session_path, method: :delete %></a></li>
			</ul>
		</div>

</section>

<section class="proyectos">

</section>
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<%= yield %>

  </body>
</html>
